<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook>
    <a href="/">
      <%= image_tag "http://www.vectortemplates.com/raster/batman-logo-big.gif" %>
    </a>
  </figure>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
